@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("./Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("./Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("./Montserrat-Bold.ttf");
}
body {
  font-family: "Montserrat";
}
