@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  stroke-width: 8px;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
